.brand__logo {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  fill: var(--brand-logo);
}

.brand__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
}
@media screen and (min-width: 768px) {
  .brand__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .brand__link {
    width: 170px;
  }
}

.brand__link:hover,
.brand__link:focus {
  border-color: var(--color-blue);
  color: var(--color-blue);
}
.brand__link:hover .brand__logo,
.brand__link:focus .brand__logo {
  fill: var(--color-blue);
}

.clients {
  background-color: var(--color-white);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__phrase {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--second-black-text);
}
@media screen and (min-widt: 1200px) {
  .clients__phrase {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
  margin-top:0;
  margin-bottom: 0;
}
