.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: var(--color-footer);
  background-image: linear-gradient(
      to top,
      var(--layout-bcg),
      var(--layout-bcg)
    ),
    url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  &__content {
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
    width: 696px;
  }

  &__phrase {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--color-white);
  }
  &__btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    cursor: pointer;
    padding: 10px 32px;
    letter-spacing: 0.06em;

    color: var(--color-white);
    background-color: var(--color-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
