.personal {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--color-white);
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .personal {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .personal {
    width: 270px;
  }
}

.personal__img {
  display: block;
}
.personal__card {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: auto;
  padding-right: auto;
}
.personal__card p {
  margin-top: 10px;
  color: var(--general-gray-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
