.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__phrase {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    color: var(--second-black-text);
  }

  &__list h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
  }

  &__card p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--general-gray-text);
  }
}
