:root {
  --general-gray-text: #757575;
  --second-black-text: #212121;
  --color-white: #ffffff;
  --color-blue: #2196f3;
  --color-footer: #2f303a;
  --layout-bcg: rgba(47, 48, 58, 0.4);
  --border-color: #f5f4fa;
  --bcg-icon: rgba(255, 255, 255, 0.1);
}
